body {
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
}
main p {
    width:100%;
    color: beige;
}
header{
    background-color: rgb(75, 99, 76);
    width: 100%;
    height: 407px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
h1 {
    text-align: right;
    font-size: 50px;
    float:top;
    margin-right: 95px;
    color: antiquewhite;
}
nav a{
    font-size: 30px;
    text-decoration: none;
    color:whitesmoke;
}
nav{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.left img{
    width:600px;
    height: 350px;
    border-radius: 15%;
    display: block;
    margin-bottom:30px;
}
.right{
    display: flex;
    align-items: center;
   
}
.right:hover{
     transform: scale(1.5);
    transition: 2s;
}
footer{
    background-image: linear-gradient(to right bottom, wheat,antiquewhite,brown);
    color:black;
    background-color: whitesmoke;
    border-radius: 90px;
    font-size: 40px;
    width:49%;
}
.one{
    color: green;
}
