html {
    background-color: rgb(1, 50, 1);
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

main p {
    width: 100%;
    color: beige;
    line-height: 1.5;
}

header {
    background-color: rgb(75, 99, 76);
    width: 1080px;
    margin-left: -60px;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 40px grey;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid darkolivegreen;
}

.left {
    width: 45%;
    display: flex;
    justify-content: center;
}

.left img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 15px;
    border: 1px solid grey;
    object-fit: cover;
}

.right {
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 70px;
    color: antiquewhite;
    text-shadow: 2px 2px 5px black;
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: beige;
    text-shadow: 2px 2px 0px darkgreen;
}

h3 {
    font-size: 30px;
    color: beige;
    display: inline-block;
    margin-top: 30px;
}

footer{
    background-image: linear-gradient(to right bottom, wheat,antiquewhite,brown);
    color:black;
    background-color: whitesmoke;
    border-radius: 90px;
    font-size: 40px;
    width:49%;
}

.one {
    color: green;
    font-weight: bold;
}
