html {
    background-color: rgb(1, 50, 1);
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

main p {
    width: 100%;
    color: beige;
}

header {
    background-color: rgb(75, 99, 76);
    width: 1080px;
    margin-left: -60px;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 40px grey;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
    margin: 10px 0;
}

header p {
    font-size: 24px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
}

table {
    border: 2px solid darkolivegreen;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    color: antiquewhite;
    border-radius: 10px;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 5px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: beige;
}

td, th {
    border: 2px solid darkolivegreen;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: rgb(30, 40, 30);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

footer{
    background-image: linear-gradient(to right bottom, wheat,antiquewhite,brown);
    color:black;
    background-color: whitesmoke;
    border-radius: 90px;
    font-size: 40px;
    width:49%;
}

.two {
    color: green;
}
