html{
    background-color: rgb(1, 50, 1);
    height: 100%;
}
 body{
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    width: 1000px;
    margin:30px auto;
    border-radius: 20px;
    box-shadow:0 0 20px black;
    padding: 20px;
}
main p {
    width:100%;
    color: beige;
}
header{
    background-color: rgb(75, 99, 76);
    width: 1100px;
    height: 230px;
    padding: 20px;
    border-radius: 20px;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 70px;
    box-shadow: 0 0 40px grey;
    text-align: center;
}
h1 {
    position: absolute;
    left:40%; top:-40px;
    font-size: 60px;
    
}
nav a{
    font-size: 30px;
    text-decoration: none;
    color:whitesmoke;
}
nav{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
table{
    border: 2px solid darkolivegreen;
    font-size: 50px;
    width: 100%;
    padding: 10px;
    color: antiquewhite;
    border-radius: 30px;
    margin: 20px;
   
}

 h2{
    text-align: center;
    font-size: 59px;
 }  

td{
    border: 2px solid darkolivegreen;
    border-radius: 10px;
}



footer{
    background-image: linear-gradient(to right bottom, wheat,antiquewhite,brown);
    color:black;
    background-color: whitesmoke;
    border-radius: 90px;
    font-size: 40px;
    width:49%;
}
.three{
    color: green;
}





